extends ../../_shared/page-layout

block page-head
	link(rel = 'stylesheet', href = '/_npm/datatables.net-bs/css/dataTables.bootstrap.css')

block page-title-extra
	a#clone-btn.btn.btn-info(href = '/settings/budgets/clone')
		i.far.fa-fw.fa-copy
		| Clone Selected
	a#current-only-btn.btn.btn-info(href = '#')
		i.far.fa-fw.fa-check-square
		| Current Budgets Only
	a.btn.btn-success(href = '/settings/budgets/edit')
		i.far.fa-fw.fa-plus
		| New Budget

block page-body

	div.row
		div.col-xs-12
			table#budgets.table.table-hover.table-condensed.dataTable
				thead
					tr
						th: i.far.fa-fw.fa-copy
						th Category
						th Type
						th Period
						th Amount
						th Actions

block page-scripts
	script(src = '/_npm/datatables.net/js/jquery.dataTables.js')
	script(src = '/_npm/datatables.net-bs/js/dataTables.bootstrap.js')
	script(src = '/settings/budgets/bundle.js')
