- _ = _ || {}
- active = _.activePage || undefined

div.menu_section
	h3 General
	ul.nav.side-menu

		li(class = (active === 'dashboard' ? 'active' : '')): a(href = '/')
			i.fa.fa-fw.fa-dashboard
			| Dashboard

	h3 Settings
	ul.nav.side-menu

		li(class = (active === 'settings/profiles' ? 'active' : '')): a(href = '/settings/profiles')
			i.fa.fa-fw.fa-users
			| Profiles
