block variables

doctype html
html
	head
		if title == null
			title Money Dashboard
		else
			title #{_.title} :: Money Dashboard
		link(rel = 'stylesheet', href = '/_npm/bootstrap/dist/css/bootstrap.min.css')
		link(rel = 'stylesheet', href = '/_npm/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.css')
		link(rel = 'stylesheet', href = '/_npm/gentelella/build/css/custom.min.css')
		link(rel = 'stylesheet', href = '/_npm/font-awesome/css/font-awesome.min.css')
		link(rel = 'stylesheet', href = '/_npm/toastr/build/toastr.min.css')
		link(rel = 'stylesheet', href = '/global/global.css')

		meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
		block head

	body(class = bodyClass || 'nav-md')

		block body

		script(src = '/_npm/jquery/dist/jquery.min.js')
		script(src = '/_npm/jquery-validation/dist/jquery.validate.min.js')
		script(src = '/_npm/bootstrap/dist/js/bootstrap.min.js')
		script(src = '/_npm/bootstrap-progressbar/bootstrap-progressbar.min.js')
		script(src = '/_npm/toastr/build/toastr.min.js')
		script(src = '/_npm/gentelella/build/js/custom.min.js')

		script(type = 'text/javascript') window.MoneyDashboard = {};
		script(type = 'text/javascript') window.MoneyDashboard.toastrMessages = !{JSON.stringify(locals.flash || [])};
		script(type = 'text/javascript') window.MoneyDashboard.user = !{JSON.stringify(locals.user || {})};

		script(src = '/global/bundle.js')

		block scripts
