// sass-lint:disable no-url-domains,no-url-protocols
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$cuetip-padding: .25em .6em;
@import "~cuetip";

body {
	font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
	margin-bottom: 1rem !important; // Bootstrap override (was 0.5rem)
}

button {
	:focus {
		box-shadow: none !important; // Bootstrap override
	}
}

.header-wrapper {
	overflow: auto; // allows the div to have height even though it only contains floated elements
	width: 100%;
}

.btn-mini {
	// Same as .badge in Bootstrap
	font-size: 75% !important;
	line-height: 1 !important;
	padding: .25em .4em !important;
}

.currency {
	font-family: monospace;
}

[data-tooltip] {
	&::after,
	&::before {
		font-size: 75%;
	}
}
