@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	/* Bootstrap override */
	margin-bottom: 1rem !important; // was 0.5rem
}

button:focus {
	/* Bootstrap override */
	box-shadow: none !important;
}

.headerWrapper {
	width: 100%;
	overflow: auto; // allows the div to have height even though it only contains floated elements
}

.btnMini {
	/* Same as .badge in Bootstrap */
	padding: 0.25em 0.4em !important;
	font-size: 75% !important;
	line-height: 1 !important;
}

.currency {
	font-family: monospace;
}
