- starredAccounts = starredAccounts || []

mixin account(account)
	div.col-xs-12.col-sm-6
		p(style = 'margin-bottom: 4px;')
			strong= account['name']
		canvas(id = 'history-chart-' + account['id'])

if (starredAccounts.length)
	div.x_panel
		div.x_title
			h2
				i.fa.fa-fw.fa-star.text-muted.title-icon
				| Starred Accounts
			div.clearfix
		div.x_content
			for account in starredAccounts
				+account(account)

	script
		| var starredAccounts = !{JSON.stringify(starredAccounts)}
