div.x_panel
	div.x_title
		h2
			i.far.fa-fw.fa-exchange.fa-rotate-90
			| Summary
		div.clearfix

	div.x_content
		div.row
			p.col-xs-6.col-md-4
				strong Non-Growth Change:
				br
				i.far.fa-fw.fa-caret-right
				span#non-growth-change

			p.col-xs-6.col-md-4
				strong Growth-Only Change:
				br
				i.far.fa-fw.fa-caret-right
				span#growth-only-change

			p.col-xs-6.col-md-4
				strong Total Change:
				br
				i.far.fa-fw.fa-caret-right
				span#total-change
