div#key-shortcut-modal.modal.fade(tabindex = -1)
	div.modal-dialog
		div.modal-content
			form#editor-form.validate
				div.modal-header
					button.close(type = "button", data-dismiss = "modal" aria-label = "Close"): span(aria-hidden = "true") &times;
					h4.modal-title Keyboard Shortcuts

				div.modal-body
					h5 Navigation
					div.row
						div.col-md-6.col-xs-12: p #[kbd gd] Goto dashboard
						div.col-md-6.col-xs-12: p #[kbd gt] Goto transactions

					h5 Settings
					div.row
						div.col-md-6.col-xs-12: p #[kbd sa] Accounts
						div.col-md-6.col-xs-12: p #[kbd sb] Budgets
						div.col-md-6.col-xs-12: p #[kbd sc] Categories
						div.col-md-6.col-xs-12: p #[kbd sp] Profiles

					// TODO: reports

					h5 Misc
					div.row
						div.col-md-6.col-xs-12: p #[kbd c] Create item
						div.col-md-6.col-xs-12: p #[kbd ?] Open this guide

				div.modal-footer
					p.text-left #[kbd esc] to close this.
