extends ../../_shared/page-layout
include ../../_mixins/bootstrap-form

block page-body

	div.row
		div.col-xs-12
			+bootstrapForm({
				action: '/settings/categories/edit/' + category.id,
				method: 'post',
				rows: [
					{
						fields: [
							{
								type: 'text',
								name: 'name',
								label: 'Name',
								value: category.name,
								inputAttrs: {
									required: true
								}
							},
							{
								type: 'checkbox',
								name: 'types[]',
								label: 'Type(s)',
								options: [
									['memo', 'Memo'],
									['income', 'Income'],
									['expense', 'Expense'],
									['asset-growth', 'Asset Growth']
								],
								value: typesSelected
							}
						]
					},
					{
						fields: [
							{
								type: 'submit',
								label: 'Save',
								btnClasses: ['btn-success'],
								btnIcon: 'fa-save'
							}
						]
					}
				]
			})
