extends ../../_shared/page-layout

block page-head
	link(rel = 'stylesheet', href = '/_npm/daterangepicker/daterangepicker.css')
	link(rel = 'stylesheet', href = '/_npm/chartist/dist/chartist.min.css')

block page-title-extra
	button#toggle-field-btn.btn.btn-info
		i.far.fa-fw.fa-random
		| Date Mode: #[span Transaction]
	button#date-range-btn.btn.btn-default
		i.far.fa-fw.fa-calendar-alt
		| #[span.startDate] - #[span.endDate]

block page-body

	div.row: div.col-xs-12: div#balance-graph

	div.row
		div.col-xs-12.col-md-6
			include ./widget-summary

		div.col-xs-12.col-md-6
			include ./widget-account-options

block page-scripts
	script(src = '/_npm/moment/moment.js')
	script(src = '/_npm/daterangepicker/daterangepicker.js')
	script(src = '/_npm/chartist/dist/chartist.min.js')
