{
	"all": true,
	"watermarks": {
		"lines": [80, 99],
		"functions": [80, 99],
		"branches": [80, 99],
		"statements": [80, 99]
	},
	"exclude": [
		"// don't check coverage of type declarations",
		"**/*.d.ts",

		"// don't check coverage of config files",
		"webpack.config.js",

		"// don't check coverage of test init scripts or the tests themselves",
		"test-utils/*",
		"**/*.tests.*",

		"// don't check coverage of test outputs",
		".nyc_output/",
		"coverage/",

		"// don't check coverage of compiled code (check the source instead)",
		"build/",

		"// there are no server code test (yet)",
		"src/server/"
	],
	"reporter": [
		"html",
		"lcov",
		"text",
		"text-summary"
	]
}
