.amount-cell {
  font-family: monospace;

  .amount {
    float: right;
  }

  .amount-prefix {
    float: left;
    margin-right: calc(var(--pico-block-spacing-horizontal) * 0.5);
    color: var(--pico-muted-color);
  }
}
