@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.budget-balance-group {
	margin-bottom: $spacer * -1;
}

.budget-balance {
	margin-bottom: $spacer;

	p {
		margin-bottom: $spacer * .25;
	}
}
