@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/variables";

.account-list {
  h6 {
    border-bottom: 1px solid $gray-200;
    clear: both;
    margin-top: $spacer;

    &:first-of-type {
      margin-top: inherit !important;
    }
  }

  p {
    clear: both;
    margin-bottom: $spacer * 0.75;

    &:last-of-type {
      margin-bottom: $spacer !important;
    }
  }

  .total {
    font-family: "Roboto Slab", sans-serif !important;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    text-align: right;
  }
}
