extends ../../_shared/page-layout

block page-head
	link(rel = 'stylesheet', href = '/_npm/datatables.net-bs/css/dataTables.bootstrap.css')

block page-title-extra
	a#active-only-btn.btn.btn-info(href = '#')
		i.far.fa-fw.fa-check-square
		| Active Accounts Only
	a.btn.btn-success(href = '/settings/accounts/edit')
		i.far.fa-fw.fa-plus
		| New Account

block page-body

	div.row
		div.col-xs-12
			table#accounts.table.table-hover.table-condensed.dataTable
				thead
					tr
						th Name
						th Type
						th Actions

block page-scripts
	script(src = '/_npm/datatables.net/js/jquery.dataTables.js')
	script(src = '/_npm/datatables.net-bs/js/dataTables.bootstrap.js')
	script(src = '/settings/accounts/bundle.js')
