@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/variables";
@import "~bootstrap-scss/mixins/breakpoints";
@import "../../global-styles/Branding.scss";

$header-height: 48px;
$header-bg-colour: #fff;
$header-shadow: rgba(0, 0, 0, 0.2);
$navbar-toggle-icon: #333;

.navbar {
  height: $header-height; // Bootstrap override
  background: $header-bg-colour;
  box-shadow: 0 0 12px 0 $header-shadow;
}

.navbar-container {
  max-width: 100% !important; // Bootstrap override;
}

.navbar-brand {
  color: $brand-blue !important; // Bootstrap override
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0 !important; // Bootstrap override
  overflow: hidden;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-toggle-icon {
  color: $navbar-toggle-icon !important;
}
