@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/variables";

.chooser {
  background-color: $white;
  border-radius: 2px;
  border: 1px solid $gray-500;
  margin: $spacer * 0.25 0 0 0;
  padding: $spacer * 0.5;
  position: fixed;
  z-index: 9000;
}
