$brand-blue: #0d47a1;
$brand-blue-dark: darken($brand-blue, 20%);
$brand-blue-light: lighten($brand-blue, 30%);

$brand-red: #a10d0d;
$brand-red-dark: darken($brand-red, 20%);
$brand-red-light: lighten($brand-red, 30%);
