extends ../_shared/page-layout

block page-body

	- label = locals.label || 'that item'
	- returnUrl = locals.returnUrl || '/'
	- deleteUrl = locals.deleteUrl || '/'

	div.row
		div.col-xs-12
			p Are you sure you want to delete #[strong #{label}]?

			div.btn-group
				a.btn.btn-default(href= returnUrl)
					i.fa.fa-fw.fa-arrow-left
					| No, take me back
				a.btn.btn-danger(href= deleteUrl)
					i.fa.fa-fw.fa-trash-o
					| Yes, delete
