@use "@picocss/pico";

// pico overrides

:root {
  --pico-font-family-sans-serif: Inter, system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif,
    var(--pico-font-family-emoji);
  --pico-font-size: 100%;
  --pico-line-height: 1.25;
  --pico-form-element-spacing-vertical: 0.5rem !important;
  --pico-form-element-spacing-horizontal: 0.5rem !important;
  --pico-border-radius: 0.375rem;
}

@media (min-width: 576px) {
  :root {
    --pico-font-size: 100%;
    /* Original: 106.25% */
  }
}

@media (min-width: 768px) {
  :root {
    --pico-font-size: 100%;
    /* Original: 112.5% */
  }
}

@media (min-width: 1024px) {
  :root {
    --pico-font-size: 100%;
    /* Original: 118.75% */
  }
}

@media (min-width: 1280px) {
  :root {
    --pico-font-size: 100%;
    /* Original: 125% */
  }
}

@media (min-width: 1536px) {
  :root {
    --pico-font-size: 100%;
    /* Original: 131.25% */
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --pico-font-weight: 600;
  /* Original: 700 */
}

button {
  --pico-form-element-spacing-vertical: 0.5rem !important;
  --pico-form-element-spacing-horizontal: 1rem !important;
}
