.muted {
  color: var(--pico-muted-color);
}

.semi-transparent {
  opacity: 0.5;
}

.mb0 {
  margin-bottom: 0;
}

ul.horizonal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);

  padding: 0;

  li {
    list-style-type: none;
    margin: 0;
  }
}

ul.labels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);

  padding: 0;

  &:empty {
    display: none;
  }

  li {
    list-style-type: none;
    margin: 0;

    padding: calc(var(--pico-block-spacing-vertical) * 0.25)
      calc(var(--pico-block-spacing-horizontal) * 0.5);
    background-color: color-mix(
      in srgb,
      var(--pico-muted-color) 15%,
      transparent
    );
    border-radius: var(--pico-border-radius);
  }
}
