# This file is maintained by Tedium - manual edits will be overwritten!

version: "2.1"
jobs:
  cachekey:
    docker:
      - image: cimg/base:2025.12@sha256:32bf8767cd669b9a236863accc928a35517ebfb8438565bd3103bdddf085c481
    steps:
      - attach_workspace:
          at: .
      - run:
          command: ./task cachekey
      - persist_to_workspace:
          root: .
          paths:
            - ./.task-meta-cachekey*
  checkout:
    docker:
      - image: cimg/base:2025.12@sha256:32bf8767cd669b9a236863accc928a35517ebfb8438565bd3103bdddf085c481
    steps:
      - checkout:
          path: .
      - persist_to_workspace:
          root: .
          paths:
            - .
  ci-all:
    docker:
      - image: cimg/base:2025.12@sha256:32bf8767cd669b9a236863accc928a35517ebfb8438565bd3103bdddf085c481
    steps:
      - run:
          command: echo "Done"
  deps-go:
    docker:
      - image: docker.io/golang:1.25.5@sha256:6cc2338c038bc20f96ab32848da2b5c0641bb9bb5363f2c33e9b7c8838f9a208
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - deps-go-v7-{{ checksum ".task-meta-cachekey-go" }}
            - deps-go-v7-
      - run:
          command: |-
            export GOPATH=/.go
            export GOCACHE=/.gocache
            ./task deps-go
      - save_cache:
          key: deps-go-v7-{{ checksum ".task-meta-cachekey-go" }}
          paths:
            - /.go
            - /.gocache
  deps-js:
    docker:
      - image: docker.io/node:24.12.0-slim@sha256:b83af04d005d8e3716f542469a28ad2947ba382f6b4a76ddca0827a21446a540
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - deps-js-v7-{{ checksum ".task-meta-cachekey-js" }}
            - deps-js-v7-
      - run:
          command: |-
            npm install -g --force yarn pnpm
            ./task deps-js
      - save_cache:
          key: deps-js-v7-{{ checksum ".task-meta-cachekey-js" }}
          paths:
            - /usr/local/lib/node_modules
            - frontend/node_modules
  fetch-task:
    docker:
      - image: ghcr.io/markormesher/task-fetcher:v0.5.51@sha256:8730cba47696582fb9d0ef93e0b760d283fb31fb4acf61ae1fb121bf4e63aaf7
    steps:
      - attach_workspace:
          at: .
      - run:
          command: cp /task .
      - persist_to_workspace:
          root: .
          paths:
            - ./task
  imgbuild-imgpush:
    docker:
      - image: cimg/base:2025.12@sha256:32bf8767cd669b9a236863accc928a35517ebfb8438565bd3103bdddf085c481
    steps:
      - attach_workspace:
          at: .
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          command: |-
            echo "${GHCR_PUBLISH_TOKEN}" | docker login ghcr.io -u markormesher --password-stdin
            ./task imgbuild
            ./task imgpush
  imgrefs:
    docker:
      - image: docker.io/alpine/git:v2.52.0@sha256:63d6641dc22922b38b8c19780d2308879ef29a8fb9766ddb90f7e4c9ddeefad3
    steps:
      - attach_workspace:
          at: .
      - run:
          command: ./task imgrefs
      - persist_to_workspace:
          root: .
          paths:
            - ./.task-meta-imgrefs
            - ./**/.task-meta-imgrefs
  lint-buf:
    docker:
      - image: docker.io/bufbuild/buf:1.63.0@sha256:3e8a0a854a30be5877b33d75df0fe2f8a6f59476e33abf3a992342e08456410e
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - deps-buf-v7-{{ checksum ".task-meta-cachekey-buf" }}
            - deps-buf-v7-
      - run:
          command: ./task lint-buf
  lint-go:
    docker:
      - image: docker.io/golang:1.25.5@sha256:6cc2338c038bc20f96ab32848da2b5c0641bb9bb5363f2c33e9b7c8838f9a208
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - deps-go-v7-{{ checksum ".task-meta-cachekey-go" }}
            - deps-go-v7-
      - run:
          command: |-
            export GOPATH=/.go
            export GOCACHE=/.gocache
            ./task lint-go
  lint-js:
    docker:
      - image: docker.io/node:24.12.0-slim@sha256:b83af04d005d8e3716f542469a28ad2947ba382f6b4a76ddca0827a21446a540
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - deps-js-v7-{{ checksum ".task-meta-cachekey-js" }}
            - deps-js-v7-
      - run:
          command: |-
            npm install -g --force yarn pnpm
            ./task lint-js
workflows:
  version: 2
  main:
    jobs:
      - checkout:
          requires: []
          filters:
            tags:
              only: /.*/
      - fetch-task:
          requires: []
          filters:
            tags:
              only: /.*/
      - imgrefs:
          requires:
            - checkout
            - fetch-task
          filters:
            tags:
              only: /.*/
      - lint-buf:
          requires:
            - checkout
            - fetch-task
          filters:
            tags:
              only: /.*/
      - cachekey:
          requires:
            - checkout
            - fetch-task
          filters:
            tags:
              only: /.*/
      - deps-go:
          requires:
            - cachekey
            - checkout
            - fetch-task
          filters:
            tags:
              only: /.*/
      - deps-js:
          requires:
            - cachekey
            - checkout
            - fetch-task
          filters:
            tags:
              only: /.*/
      - lint-go:
          requires:
            - checkout
            - deps-go
            - fetch-task
          filters:
            tags:
              only: /.*/
      - lint-js:
          requires:
            - checkout
            - deps-js
            - fetch-task
          filters:
            tags:
              only: /.*/
      - imgbuild-imgpush:
          requires:
            - checkout
            - fetch-task
            - imgrefs
            - lint-buf
            - lint-go
            - lint-js
          filters:
            tags:
              only: /.*/
      - ci-all:
          requires:
            - deps-go
            - deps-js
            - imgbuild-imgpush
            - imgrefs
            - lint-buf
            - lint-go
            - lint-js
          filters:
            tags:
              only: /.*/
