@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/variables";
@import "~bootstrap-scss/mixins/breakpoints";
@import "../Header/Header";
@import "../../global-styles/Branding.scss";

$nav-bg-gradient: linear-gradient(
  0deg,
  $brand-blue-dark 0%,
  $brand-blue 30%,
  $brand-blue-light 100%
);
$sidebar-shadow: rgba(0, 0, 0, 0.2);
$link-colour: #fff;

.sidebar {
  // Collapsed view
  @include media-breakpoint-down(lg) {
    border-bottom: 1px solid $gray-300;
    box-shadow: 0 0 12px 0 $sidebar-shadow;
    position: static !important;
  }

  background: $nav-bg-gradient;
  bottom: 0;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 100; // Behind the navbar
}

.sidebar-sticky {
  // Collapsed view
  @include media-breakpoint-down(lg) {
    height: auto !important;
  }

  height: calc(100vh - #{$header-height});
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5rem 0;
  position: sticky;
  top: $header-height;
}

.nav-section-heading {
  font-size: 0.75rem;
  color: $link-colour;
  text-transform: uppercase;
}

.nav-icon {
  opacity: 0.6;
}

.nav-link {
  color: $link-colour;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover,
  &.active {
    color: $link-colour;

    .nav-icon {
      opacity: 1;
    }
  }
}
