.tableWrapper {
	&.loading {
		.tableHeader,
		.tableFooter,
		.table {
			opacity: .4;
		}
	}
}

.table {
	margin-bottom: .4rem !important; // Bootstrap override
}

.tableBodyWrapper {
	position: relative;
	width: 100%;

	.loadingIconWrapper {
		position: absolute;
		text-align: center;
		top: 4em;
		width: 100%;
	}
}

.tableHeader {
	margin-bottom: .4rem;
	overflow: auto; // allows the div to have height even though it only contains floated elements
	width: 100%;
}

.tableFooter {
	font-size: 60%;
	width: 100%;
}

.sortInactive {
	opacity: .3;
}

th {
	.sortable {
		cursor: pointer;
	}
}
