.tableWrapper {
	&.loading {
		.tableHeader, .tableFooter, .table {
			opacity: 0.4;
		}
	}
}

.table {
	/* Bootstrap override */
	margin-bottom: 0.4rem !important;
}

.tableBodyWrapper {
	position: relative;
	width: 99%;

	.loadingIconWrapper {
		width: 100%;
		position: absolute;
		top: 4em;
		text-align: center;
	}
}

.tableHeader {
	width: 99%;
	margin-bottom: 0.4rem;
	overflow: auto; // allows the div to have height even though it only contains floated elements
}

.tableFooter {
	width: 99%;
	font-size: 60%;
}

.sortInactive {
	opacity: 0.3;
}

th.sortable {
	cursor: pointer;
}
