@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "../Header/Header.scss";

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	z-index: 100; /* Behind the navbar */

	/* Collapsed view */
	@include media-breakpoint-down(lg) {
		position: static !important;
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
		border-bottom: 1px solid $gray-300;
	}
}

.sidebarSticky {
	position: -webkit-sticky;
	position: sticky;
	top: $headerHeight;
	height: calc(100vh - #{$headerHeight});
	padding: .5rem 0;
	overflow-x: hidden;
	overflow-y: auto;


	/* Collapsed view */
	@include media-breakpoint-down(lg) {
		height: auto !important;
	}
}
