div.x_panel
	div.x_title
		h2
			i.far.fa-fw.fa-exchange.fa-rotate-90
			| Summary
		div.clearfix

	div.x_content
		div.row
			p.col-xs-6.col-md-4
				strong Min Total:
				br
				span#min-value
				br
				span.text-muted#min-value-date

			p.col-xs-6.col-md-4
				strong Max Total:
				br
				span#max-value
				br
				span.text-muted#max-value-date

			p.col-xs-6.col-md-4
				strong Change:
				br
				i.far.fa-fw.fa-caret-right
				span#change-abs
