-
	var accountTypes = [
			// [type, title]
			['current', 'Current Accounts'],
			['savings', 'Savings Accounts'],
			['asset', 'Assets'],
			['other', 'Other Accounts']
	]

div.x_panel
	div.x_title
		h2
			i.far.fa-fw.fa-university
			| Accounts #[span.account-count]
		div.clearfix

	div.x_content
		each accountType in accountTypes
			-
				var filteredAccounts = accounts
					.filter(a => a.type === accountType[0])
					.sort((a, b) => a.name.localeCompare(b.name))

			if (filteredAccounts.length > 0)
				div.row: div.col-xs-12.group-wrapper
					div.checkbox(style = 'width: 100%; display: inline-block;'): label
						input(type = 'checkbox', value = 0, checked = true).account-group-check-box
						strong= accountType[1]

					each account in filteredAccounts
						div.checkbox(style = 'width: 49%; display: inline-block;'): label
							input(type = 'checkbox', value = account.id, checked = true).account-check-box
							| #{account.name}
							if (!account.active)
								|  (inactive)
