@import "../../../global-styles/Branding.scss";

.chart-container {
  height: 400px;
  position: relative;
}

.series-stroke-blue {
  stroke: $brand-blue;
  stroke-width: 2px;
  fill: none;
}

.series-stroke-red {
  stroke: $brand-red;
  stroke-width: 2px;
  fill: none;
}

.series-fill-blue {
  stroke: none;
  fill: rgba($brand-blue, 0.3);
}

.series-fill-red {
  stroke: none;
  fill: rgba($brand-red, 0.3);
}
