extends root-layout

block body

	div.row: div.col-sm-12.col-md-8.col-md-offset-2: div.col-middle: div.text-center

		span.error-number= status

		h2= name

		if message
			p= message

		p: a(href = '/') Click here to return to the dashboard.

		if error
			hr
			pre.text-left= error
