// sass-lint:disable no-url-domains,no-url-protocols
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Open+Sans");
@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/variables";

body {
  font-family: "Open Sans", sans-serif !important;
}

h1,
h2,
h3 {
  margin-bottom: $spacer * 0.5; // Bootstrap override

  svg {
    margin-right: $spacer;
  }
}

h6 {
  font-weight: bold;
}

button {
  &:focus {
    box-shadow: none !important; // Bootstrap override
  }
}

.btn-mini {
  // Same as .badge in Bootstrap
  font-size: 75% !important;
  line-height: 1 !important;
  padding: 0.25em 0.4em !important;
}

.currency {
  font-family: monospace;
}

.currency-pence {
  font-size: 60%;
}

.big-stat-header {
  margin-bottom: $spacer;
  text-transform: uppercase;
  font-weight: lighter;
  color: $gray-500;
}

.big-stat-value {
  font-size: 2.5rem;
}

.big-stat-context {
  color: $gray-500;
  font-size: 0.75rem;
}

.loading {
  opacity: 0.4;
}

tr {
  &.bottom-border {
    td {
      border-bottom: 1px solid $gray-700;
    }
  }

  &.bottom-top {
    td {
      border-top: 1px solid $gray-700;
    }
  }
}
