@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/variables";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > hr {
    // forces hr elements to break the flex items
    width: 100%;
  }

  > * {
    margin: 0 calc(#{$spacer} / 2) $spacer calc(#{$spacer} / 2);
  }
}
