extends ../../_shared/page-layout

block page-head
	link(rel = 'stylesheet', href = '/_npm/datatables.net-bs/css/dataTables.bootstrap.css')
	link(rel = 'stylesheet', href = '/_npm/daterangepicker/daterangepicker.css')

block page-title-extra
	button#detailed-view-btn.btn.btn-info
		i.far.fa-fw.fa-square
		| Detailed View
	button#date-range-btn.btn.btn-default
		i.far.fa-fw.fa-calendar-alt
		| #[span.startDate] - #[span.endDate]

block page-body

	div.row: div.col-xs-12
		table#budget-table.table.table-hover.table-condensed.dataTable
			thead
				tr
					th Category
					th Performance

block page-scripts
	script(src = '/_npm/moment/moment.js')
	script(src = '/_npm/daterangepicker/daterangepicker.js')
