// conveniences

.no-margin {
	margin: 0 !important;
}

// globally-useful styles

a:not(.btn-mini), button:not(.btn-mini) {
	i.fa.fa-fw {
		margin-right: 8px;
	}
}

.currency {
	font-family: monospace;
}

.text-muted {
	color: inherit !important;
	opacity: 0.6;
}

.btn-mini {
	padding: 2px 6px;
	font-size: 11px;
	line-height: 13px;
}

// core layout

.site_title {
	font-size: 20px;
	i {
		padding: 2px 0;
	}
}

a.dropdown-toggle {
	i.fa {
		margin-left: 8px;
	}
}

div.page-title {
	h3 {
		float: left;
	}

	div.extra {
		float: right;
		text-align: right;
	}
}

@media (max-width: 992px) {
	div.page-title {
		h3 {
			display: block;
		}

		div.extra {
			display: block;
			text-align: inherit;
			width: 100%;
			clear: both;
			margin-bottom: 12px;
		}
	}
}

// navigation

li.divider {
	margin: 0 !important;
}

// tables

table.table {
	width: 99%;
}

table.non-full-width {
	width: auto !important;
}

table tfoot tr td {
	border-top: 2px solid #dddddd !important;
}

td span {
	line-height: inherit !important;
}

@media screen and (max-width: 767px) {
	.table-responsive {
		border: none !important;
	}
}
