.svg {
  height: 100%;
  width: 100%;
}

.svg-mock {
  position: fixed;
  top: -1000px;
}

.axis-label {
  fill: rgba(0, 0, 0, 0.4);
  font-size: 85%;
}

.grid-line {
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.2);
}
