html[data-theme="dark"] canvas {
  filter: invert(1) hue-rotate(180deg);
}

canvas {
  max-height: 40rem;

  &.loading {
    opacity: 0.4;
  }
}

.tax-acquisition-icon {
  color: #00895a; /* pico jade 500 */
  rotate: 270deg;
}

.tax-disposal-icon {
  color: #d93526; /* pico red 500 */
  rotate: 270deg;
}
