extends ../_shared/page-layout

block page-head
	link(rel = 'stylesheet', href = '/_npm/datatables.net-bs/css/dataTables.bootstrap.css')

block page-title-extra
	button#toggle-field-btn.btn.btn-info
		i.far.fa-fw.fa-random
		| Date Mode: #[span Transaction]
	button#create-btn.btn.btn-success.create-btn
		i.far.fa-fw.fa-plus
		| New Transaction

block page-body

	div.row
		div.col-xs-12
			table#transactions.table.table-hover.table-condensed.dataTable
				thead
					tr
						th Date
						th Account
						th Payee
						th Amount
						th Category
						th Actions

	include ./edit-modal
