extends ../../_shared/page-layout

block page-head
	link(rel = 'stylesheet', href = '/_npm/datatables.net-bs/css/dataTables.bootstrap.css')

block page-title-extra
	a.btn.btn-success(href = '/settings/profiles/edit')
		i.far.fa-fw.fa-plus
		| New Profile

block page-body

	div.row
		div.col-xs-12
			table#profiles.table.table-hover.table-condensed.dataTable
				thead
					tr
						th Name
						th Actions
